<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Camera Feed</title>
    <link rel="stylesheet" href="/static/livefeed.css">
</head>
<body>

    <nav>
        <a href="/dashboard">Dashboard</a>
        <a href="/livefeed" class="active">Live Feed</a>
        <a href="/register">Add Product</a>
    </nav>

    <main class="feed-container">
        
        <section class="video-box">
            <h2>Live Video Feed</h2>
            <img src="/video_feed" alt="Camera Stream" class="camera-stream">
        </section>

        <section class="results-box">
            <h2>Detected Product Info</h2>
            <br>
            <div class="stat-row">
                <strong>Product Name:</strong> 
                <span id="res-name">--</span>
            </div>
            <br>
            <div class="stat-row">
                <strong>Reference Code:</strong> 
                <span id="res-ref">--</span>
            </div>
            <br>
            <div class="stat-row">
                <strong>Total Items Counted:</strong> 
                <span id="res-total">0</span>
            </div>
            <br>
            <div class="image-preview-area">
                <img id="res-img" src="" alt="Matched Product" style="display: none; max-width: 100%;">
                
                <div id="img-placeholder" class="gray-box">
                    <span>No Product Matched Yet</span>
                </div>
            </div>
            <button id="check-product-btn" onclick="check_product()">Check Product</button>
        </section>

    </main>

    <footer>
        <form method="post">

            <label for="threashold">threshold</label>
            <input type="text" id="threashold" placeholder="0-255">
            
            <label for="objectarea">Object Area:</label>
            <input type="text" id="objectarea" placeholder="0-10 000">

            <label for="roi">Region of Interest:</label>
            <input type="text" id="roi" placeholder="x,y,width,height">



            <button type="button" onclick="update_config()">Update Config</button>
            

        </form>
    </footer>
    <script src="/static/scriptlivefeed.js"></script>
</body>
</html>